

label,
.form-label {
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: var(--color-secondary);
	+ .form-help {
		margin-left: 0.25em;
	}
}

.form-control,
.form-select {
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	@include transition(background-color 0.15s, border-color 0.15s, color 0.15s, box-shadow 0.15s);

	// &::placeholder {
	// 	color: #FFF;
	// }

	&:hover {
		border-color: var(--color-gray-400);
	}

	&:focus {
		//background-color: var(--color-primary);
		border-color: var(--color-base); // ecrase bootstrap
		box-shadow: 0 0 0 3px var(--color-gray-100);
	}
	option{
		padding: .5rem 0;
	}
}

.form-select {
	padding-right: 2.25rem;
	background-image:url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%231a1e52%27 stroke-width=%273%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e")
}

.form-check-label {
	font-weight: 400;

	a {
		font-weight: 600;
		@include link-style(var(--color-primary));
	}
}

.form-check-input {
	margin-top: 0.125em;

	&:active {
		filter: none;
	}
}

textarea.form-control {
	height: auto;
}

//fieldset + fieldset {
//	margin-top: 2em;
//}

legend {
	margin-bottom: 1.375rem;

	&.form-label {
		font-size: var(--font-size-base);
		margin-bottom: 1.375rem;
	}
}

.form-block {
	padding: 1.25em;
	margin-top: 4em;
	margin-bottom: 4em;

	@include media-breakpoint-up(sm) {
		padding: 3em;
	}

	@include media-breakpoint-up(lg) {
		padding: 5em;
	}
}

.form-header {
	position: relative;
	margin-top: -2.125rem;
	margin-bottom: 2rem;

	@include media-breakpoint-up(sm) {
		margin-top: -4rem;
	}

	@include media-breakpoint-up(lg) {
		margin-top: -6.25rem;
		margin-bottom: 3rem;
	}
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-text { // texte info supplementaire
	font-size: var(--font-size-xxs);
	font-weight: 400;
	// padding-top: 0.5rem;

	a {
		text-decoration: underline;

		&:hover,
		&:focus {
			outline: 2px solid;
		}
	}
}

.form-footer {
	padding-top: 1.5em;

	/*p:not([class]) {
		font-size: var(--font-size-medium);

		.btn {
			margin-left: 0.5rem;
		}
	}*/
}

.form-aside {
	text-align: center;
	padding: 2em;

	p {
		font-family: var(--font-base);
		color: #fff;
	}

	.form-block + & {
		margin-top: -4em;
	}
}

// mdp oublié
.btn-password {
	font-size: var(--font-size-xxs);
	color: var(--color-base);
	text-decoration: underline;
	margin-top: 0.75rem;
}

.form-check {
    margin-bottom: 0.125rem;
    min-height: 1.5rem;
    padding-left: 1.625em;
	.form-check-input {
		float: left;
		margin-left: -1.5em;
	}
}